{% extends 'base.html.twig' %}

{% block title %}Campaign List{% endblock %}

{% block body %}
<div class="container">
        <h2 class="text-center mt-5 mb-3">Campaign Run Logs</h2>
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Campaign Name</th>
                            <th>Campaign Content</th>
                            <th>Run At</th>
                            <th>Complete At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for campaignLog in campaignLogs %}
                        <tr>
                            <td>{{ campaignLog.campaign.name }}</td>
                            <td>{{ campaignLog.campaign.content }}</td>
                            <td>{{ campaignLog.runAt ? campaignLog.runAt|date('Y-m-d H:i')  : '' }}</td>
                            <td>{{ campaignLog.runAt ? campaignLog.runAt|date('Y-m-d H:i')  : '' }}</td>
                            <td><a
                                    class="btn btn-outline-primary"
                                    href="{{ path('campaign_contact_list', {'campaign_id': campaignLog.id}) }}">
                                    Run Logs
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
